# Assignment On Python

In [ ]:
# 1. WAP AREA OF RECTANGLE

In [1]:
l = int(input("length in cm"))
b = int(input("breadth in cm"))
a = l*b
print("Your rectangle area is:",a,"cm^2")

length in cm50
breadth in cm20
Your rectangle area is: 1000 cm^2

In [ ]:
# 2. WAP AREA OF CIRCLE -->

In [2]:
r = int(input("enter your radius"))
a = 3.14*(r*r)
print("your area is:",a)

enter your radius50
your area is: 7850.0

In [ ]:
# 3. WAP AREA OF CUBOID

In [3]:
l = int(input("enter length"))
b = int(input("enter breadth"))
h = int(input("enter height"))
a = 2*(l*b+b*h+h*l)
print("the area is:",a)

enter length10
enter breadth20
enter height10
the area is: 1000

In [ ]:
# 4. WAP AREA OF CUBE

In [4]:
a = int(input("enter length of cube"))
x = 6*(a*a)
print("the area of cube is:",x)

enter length of cube5
the area of cube is: 150

In [ ]:
# 5. WAP AREA OF CSA OF CYLINDER

In [5]:
r = int(input("enter radius"))
h = int(input("enter height"))
a = 2*(3.14*(r*h))
print("your c.s.a is:",a)

enter radius5
enter height23
your c.s.a is: 722.2

In [ ]:
# 6. WAP AREA OF TSA OF CYLINDER

In [6]:
r = int(input("enter radius"))
h = int(input("enter height"))
a = 2*3.14*r*(r+h)
print("area is:",a)

enter radius5
enter height6
area is: 345.40000000000003

In [ ]:
# 7. WAP AREA OF CSA OF CONE

In [7]:
r = int(input("enter radius"))
l = int(input("enter length"))
a = 3.14*r*l
print("csa is:",a)

enter radius5
enter length5
csa is: 78.5

In [ ]:
# 8. WAP AREA OF TSA OF RIGHT CIRCULAR CONE

In [8]:
r = int(input("enter radius"))
l = int(input("enter slant height"))
a = 3.14*r*(l+r)
print("the tsa is:",a)

enter radius5
enter slant height3
the tsa is: 125.60000000000001

In [ ]:
# 9. WAP TSA OF SPHERE

In [9]:
r = int(input("enter radius"))
a = 4*(3.14*(r*r))
print("tsa of sphere is:",a)

enter radius5
tsa of sphere is: 314.0

In [ ]:
# 10. WAP VOLUME OF CUBOID

In [10]:
l = int(input("enter length"))
b = int(input("enter breadth"))
h = int(input("enter height"))
a = l*b*h
print("volume of cuboid is:",a)

enter length5
enter breadth6
enter height2
volume of cuboid is: 60

In [ ]:
# 11. WAP VOLUME OF CUBE

In [11]:
l = int(input("enter length"))
a = l*l*l
print("volume of cube is:",a)

enter length5
volume of cube is: 125

In [ ]:
# 12. WAP VOLUME OF CYLINDER

In [12]:
r = int(input("enter radius"))
h = int(input("enter height"))
v = 3.14*(r*r)*h
print("volume is:",v)

enter radius2
enter height9
volume is: 113.04

In [ ]:
# 13. WAP VOLUME OF CONE

In [13]:
r = int(input("enter radius"))
h = int(input("enter height"))
v = 1/3*(3.14*(r*r)*h)
print("volume is:",v)

enter radius5
enter height3
volume is: 78.5

In [ ]:
# 14. WAP VOLUME OF SPHERE

In [14]:
r = int(input("enter radius"))
v = 4/3*(3.14*(r*r*r))
print("volume is:",v)

enter radius2
volume is: 33.49333333333333

In [ ]:
# 15. WAP PERIMETER OF RECTANGLE

In [15]:
l = int(input("enter length in cm"))
b = int(input("enter breadth in cm"))
a = 2*(l+b)
print("perimeter of rectangle is:",a,"cm")

enter length in cm26
enter breadth in cm12
perimeter of rectangle is: 76 cm

In [ ]:
# 16. WAP AREA OF SQUARE

In [16]:
A = int(input("enter length in cm"))
x = A*A
print("your area of square is:",x,"cm^2")

enter length in cm2
your area of square is: 4 cm^2

In [ ]:
# 17. WAP AREA OF TRIANGLE

In [17]:
h = int(input("enter height"))
b = int(input("enter base"))
a = 1/2*(b*h)
print("your area is:",a,"cm^2")

enter height4
enter base5
your area is: 10.0 cm^2

In [ ]:
# 18. WAP GREATEST NO. IN THREE NO.

In [18]:
a = int(input("enter first no"))
b= int(input("enter second no"))
c= int(input("enter third no"))
if a>b:
    if a>c:
        print("the greatest no is:",a)
    else:
        print("the greatest no is:",c)
else:
    if b>c:
        print("the greatest no is",b)
    else:
        print("the greatest no is:",c)

enter first no5
enter second no6
enter third no7
the greatest no is: 7

In [ ]:
# 19. WAP PERIMETER OF TRIANGLE

In [19]:
a = int(input("enter first side of triangle"))
b = int(input("enter second side of triangle"))
c = int(input("enter third side of triangle"))
perimeter = a+b+c
print("the perimeter is:",perimeter)

enter first side of triangle2
enter second side of triangle3
enter third side of triangle3
the perimeter is: 8

In [ ]:
# 20. WAP GREATEST NO. IN FOUR NO.

In [20]:
a = float(input("enter first no"))
b= float(input("enter second no"))
c= float(input("enter third no"))
d = float(input("enter fourth no"))
if (a>b and a>c and a>d):
    print("the greatest no is:",a)
elif (b>c and b>d):
    print("the greatest no is:",b)
elif (c>d):
    print("the greatest no is",c)
elif (d>c):
    print("the greatest no is:",d)
else :
    print("Either any two values or all the four values are equal")

enter first no55
enter second no66
enter third no33
enter fourth no55
the greatest no is: 66.0

In [ ]:
# 21. WAP TO CHECK DIVISION IN RESULT

In [21]:
a = eval(input("enter marks out of 300"))
b= a/300*100
print("percentage is:",b,"%")
if (a>300):
    print("you entered a wrong marks")
elif (b>60):
    print("your division is first")
elif (b>50 and b<53):
    print("your division is second")
elif (b>33 and b<50):
    print("your division is third")
else :
    print("fail")

enter marks out of 300251
percentage is: 83.66666666666667 %
your division is first

In [ ]:
# 22. WAP TO CHECK AGE CRITERIA

In [22]:
y = int(input("enter your age"))
if (y>0 and y<12):
    print("kid")
elif (y>12 and y<19):
    print("teenager")
elif (y>19 and y<30):
    print("young")
elif (y>30 and y<45):
    print("mature")
elif (y>45 and y<60):
    print("experienced")
elif (y>60 and y<75):
    print("old")
elif (y>75):
    print("senior citizen")

enter your age17
teenager

In [ ]:
# 23. WAP SUM OF Nth NO.

In [23]:
n = int(input("enter limit"))
s = 0
for c in range(1,n):
    s = c+s
print("the sum is",s)

enter limit5
the sum is 10

In [ ]:
# 24. WAP TO CHECK THE VALUE OF FACTORIAL

In [24]:
a = int(input("enter a number"))
factorial = 1
if a<0:
    print("sorry,factorial does not exist for negative number")
elif a==0:
    print("the factorial of 0 is 1")
else:
    for i in range(1,a+1):
        factorial = factorial*i
    print("the factorial of",a,"is",factorial)

enter a number10
the factorial of 10 is 3628800

In [ ]:
# 25. WAP TO PRINT MULTIPLICATION TABLE

In [1]:
a = int(input("show the multiplication table of?"))
for i in range(1,11):
    print(a,"X",i,"=",a*i)

show the multiplication table of?18
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180

In [ ]:
# 26. WAP TO PRINT OPPOSITE RIGHT ANGLE TRIANGLE

In [2]:
num = int(input("enter the number of rows"))
for i in range(num,0,-1):
    for j in range(0,i):
        print("*",end="")
    print()

enter the number of rows5
*****
****
***
**
*

In [ ]:
# 27. WAP TO PRINT 1,22,333,4444

In [4]:
n = int(input("enter the no of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

enter the no of rows:5
1
22
333
4444
55555

In [ ]:
# 28. WAP TO PRINT STAR PATTERN OF OPPOSITE TRIANGLE

In [5]:
num = int(input("enter the number of rows"))
for i in range(0,num):
    for j in range(0,num-i):
        print(" ",end="")
    for k in range(0,i+1):
        print("*",end="")
    print()

enter the number of rows5
     *
    **
   ***
  ****
 *****

In [ ]:
# 29. WAP TO PRINT PATTERN 1,12,123

In [6]:
n = int(input("enter the no of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter the no of rows:5
1
12
123
1234
12345

In [ ]:
# 30. WAP TO PRINT FIBONACCI SERIES USE WHILE LOOP

In [7]:
a = eval(input("enter the range"))
i=0
first_value = 0
second_value = 1
while(i<a):
    if(i<=1):
        Next = i
    else:
        Next = first_value + second_value
        first_value = second_value
        second_value = Next
    print(Next)
    i = i+1

enter the range5
0
1
1
2
3

In [ ]:
# 31. WAP TO PRINT FIBONACCI SERIES USE FOR LOOP

In [8]:
number = int(input("enter the range"))
first_value = 0
second_value = 1
for num in range(0,number):
    if(num<=1):
        Next = num
    else:
        Next = first_value + second_value
        first_value = second_value
        second_value = Next
    print(Next)

enter the range5
0
1
1
2
3

In [ ]:
# 32. WAP TO PRINT PATTERN A,AB,ABC

In [9]:
ch = str(input("enter a character"))
a = ord(ch)
for x in range(65,a+1):
    for c in range(65,x+1):
        print(chr(c),end="")
    print("")

enter a characterE
A
AB
ABC
ABCD
ABCDE

In [ ]:
# 33. WAP TO CALCULATION OF Xn BY FOR LOOP

In [10]:
x = int(input("enter no"))
b = int(input("enter power"))
y=x
for a in range(0,b-1):
    y=x*y
print(y)

enter no5
enter power2
25

In [ ]:
# 34. WAP TO CALCULATION OF Xn

In [11]:
a = int(input("enter number"))
b = int(input("enter power"))
c = a**b
print(c)

enter number2
enter power2
4

In [ ]:
# 35. WAP TO PRINT THE INTEGER IS PALINDROME OR NOT PALINDROME

In [12]:
n = int(input("enter number"))
x = n
r = 0
while n>0:
    d = n%10
    r = r*10+d
    n = n//10
if x==r:
    print("the number is palindrome")
else:
    print("the number is not palindrome")

enter number121
the number is palindrome

In [ ]:
# 36. WAP TO PRINT FACTORIAL OF LIST

In [13]:
a = []
fact = []
ch = "Y"
while ch=="Y" or ch=="Y":
    item = int(input("enter the element of list"))
    a.append(item)
    ch = input("do you want to enter more element:")
print("the list is:",a)
for i in a:
    f=1
    for j in range(1,i+1):
        f = f*j
    fact.append(f)
print("the factorial of each element is :",fact)

enter the element of list5
do you want to enter more element:Y
enter the element of list6
do you want to enter more element:Y
enter the element of list62
do you want to enter more element:N
the list is: [5, 6, 62]
the factorial of each element is : [120, 720, 31469973260387937525653122354950764088012280797258232192163168247821107200000000000000]

In [ ]:
# 37. WAP TO PRINT PASCAL TRIANGLE

In [14]:
n = int(input("enter rows"))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter rows5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# 38. WAP TO CREATE A LIST OF VALUES INPUTTED BY USER

In [15]:
a = eval(input("enter limit"))
n = []
for a in range(1,a+1):
    a = eval(input("enter element"))
    n.append(a)
print(n)

enter limit4
enter element65
enter element32
enter element82
enter element62
[65, 32, 82, 62]

In [ ]:
# 39. WAP TO CREATE A LIST OF VALUES INPUTTED BY USER AND SORT IN INCREASING ORDER

In [17]:
a = eval(input("enter limit"))
lst = []
for a in range(1,a+1):
    a = eval(input("enter element"))
    lst.append(a)
print(lst)
l = len(lst)
for i in range(l):
    for j in range(0,l-i-1):
        if lst[j]>lst[j+1]:
            temp = lst[j]
            lst[j] = lst[j+1]
            lst[j+1] = temp
print("after sorting the list is")
print(lst)

enter limit4
enter element25
enter element63
enter element52
enter element41
[25, 63, 52, 41]
after sorting the list is
[25, 41, 52, 63]

In [ ]:
# 40. SORTING IN ACCENDING ORDER USE BUBBLE SORT

In [18]:
a = eval(input("enter limit"))
lst=[]
for a in range(1,a+1):
    a = eval(input("enter element"))
    lst.append(a)
print(lst)
l = len(lst)
for i in range(l):
    for j in range(0,l-i-1):
        if lst[j]>lst[j+1]:
            temp=lst[j]
            lst[j]=lst[j+1]
            lst[j+1]=temp
print("after sorting the list is")
print(lst)

enter limit4
enter element6
enter element2
enter element3
enter element4
[6, 2, 3, 4]
after sorting the list is
[2, 3, 4, 6]

In [ ]:
# 41. WAP IN PYTHON TO CREATE A PHONE DICTIONARY

In [21]:
n = int(input("enter limit"))
m={}
mob=0
name=""
i=0
for i in range(0,n):
    mob=int(input("enter mobile number"))
    name=str(input("enter name"))
    z2=dict({mob:name})
    m.update(z2)
print(m)
n = int(input("enter the no to search in dictionary"))
print("the name of person is",m[n])

enter limit2
enter mobile number7376535332
enter nameKESHWAM BAJPAI
enter mobile number980790071
enter nameACHYUTAM BAJPAI
{7376535332: 'KESHWAM BAJPAI', 980790071: 'ACHYUTAM BAJPAI'}
enter the no to search in dictionary980790071
the name of person is ACHYUTAM BAJPAI

In [ ]:
# 42. WAP TO FIND GIVEN NUMBER IS PRIME OR NOT

In [22]:
num = int(input("enter number"))
lim = int(num/2)+1
for i in range(2,lim):
    rem = num%i
    if rem==0:
        print(num,"is not prime number")
        break
else:
    print(num,"is prime number")

enter number5
5 is prime number

In [ ]:
# 43. WAP TO FIND GIVEN NUMBER IS EVEN OR ODD

In [23]:
a = int(input("enter number"))
r = a%2
if r==0:
    print(a,"is even number")
elif r>0:
    print(a,"is odd number")
else:
    print("you enter a number 0 or less than 0")

enter number6
6 is even number

In [ ]:
# 44. WAP TO CREATE A TUPLE OF VALUES INPUTED BY USER

In [24]:
a = ()
l = []
n = int(input("enter limit"))
for i in range(0,n):
    item = int(input("enter element"))
    l.append(item)
a = a+tuple(l)
print("tuple is",a)

enter limit5
enter element52
enter element63
enter element953
enter element25
enter element125
tuple is (52, 63, 953, 25, 125)

In [ ]:
# 45. WAP TO REVERSE AN INTEGER

In [26]:
n = int(input("enter the integer"))
x=n
r=0
while n>0:
    d=n%10
    r=r*10+d
    n=n//10
print("the reversed integer is:",r)

enter the integer52145666
the reversed integer is: 66654125